.column {
  height: 100%;
  overflow: scroll;
  margin-right: 1vw;
}

.column:first-of-type {
  margin-left: 1vw;
}

.telemetryPanels {
  width: 100%;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
