.driver {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  transition: transform 0.5s;
}

.trackMap {
  width: 100%;
  height: auto;
}

.trackMapWrapper {
  height: 19vw;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.txt1 {
  position: absolute;
  top: 15px;
}

.txt2 {
  position: absolute;
  top: 40px;
}

.txt3 {
  position: absolute;
  top: 65px;
}
